@import "tailwindcss";

@theme {
  /* Surface / Background Colors */
  --color-brand-bg: #ffffff;
  --color-brand-secondary: #f9fafb;
  --color-brand-tertiary: #f3f4f6;

  /* Text Colors */
  --color-brand-text: #0f172a;
  --color-brand-text-secondary: #4b5563;
  --color-brand-text-muted: #6b7280;

  /* Border Colors */
  --color-brand-border: #e5e7eb;
  --color-brand-border-secondary: #d1d5db;

  /* Action / Status Colors */
  --color-brand-primary: #3b82f6;
  --color-brand-success: #22c55d;
  --color-brand-warning: #f59e0b;
  --color-brand-error: #ef4444;
}

:root.dark {
  --color-brand-bg: #111827;
  --color-brand-secondary: #1f2937;
  --color-brand-tertiary: #374151;

  --color-brand-text: #f9fafb;
  --color-brand-text-secondary: #e5e7eb;
  --color-brand-text-muted: #9ca3af;

  --color-brand-border: #374151;
  --color-brand-border-secondary: #4b5563;

  --color-brand-primary: #60a5fa;
  --color-brand-success: #34d399;
  --color-brand-warning: #fbbf24;
  --color-brand-error: #f87171;
}

/* Base styles using the new variables */
/* @layer base {
  body {
    overflow-x: hidden;
    color: var(--color-brand-text);
    @apply transition-colors duration-300;
  }
} */

@layer base {
  body {
    @apply transition-colors duration-300;
    color: var(--color-brand-text);

  }
}

.body-bg-image {
  background-image: url('/images/bg-body-v2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

}

button {
  cursor: pointer;
}

/* Custom Utility Classes */
.bg-primary {
  background-color: rgb(var(--bg-primary));
}

.bg-secondary {
  background-color: rgb(var(--bg-secondary));
}

.bg-tertiary {
  background-color: rgb(var(--bg-tertiary));
}

.text-primary {
  color: rgb(var(--text-primary));
}

.text-secondary {
  color: rgb(var(--text-secondary));
}

.text-muted {
  color: rgb(var(--text-muted));
}

.border-primary {
  border-color: rgb(var(--border-primary));
}

.border-secondary {
  border-color: rgb(var(--border-secondary));
}

.bg-brand {
  background-color: rgb(var(--primary));
}

.text-brand {
  color: rgb(var(--primary));
}

.border-brand {
  border-color: rgb(var(--primary));
}

.bg-success {
  background-color: rgb(var(--success));
}

.bg-warning {
  background-color: rgb(var(--warning));
}

.bg-error {
  background-color: rgb(var(--error));
}


.hero-left {
  background-image: url('/images/hero-bg-v1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}